# Library Acquision Simulation

In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
## This is getting thickness of books.
def get_thickness(num_of_titles):
    thickness_list = []
    for i in range(num_of_titles):
        thickness = round(random.uniform(0.1, 20), 2)
        thickness_list.append(thickness)
    # print("This is the random thickness:", thickness_list)

    return thickness_list
get_thickness(10)

[14.92, 12.07, 17.12, 3.94, 16.9, 8.88, 4.24, 8.79, 8.16, 19.35]

In [3]:
## This is getting price of books.
def get_price(num_of_titles):
    thickness = get_thickness(num_of_titles)
    print(thickness)
    price_list = []
    for i in thickness:
        price1 = round(random.uniform(1, 50), 2)
        price2 = round(random.uniform(50, 100), 2)
        price3 = round(random.uniform(100, 200), 2)
        if i <= 5:
            price_list.append(price1)
        elif 5 < i <= 10:
            price_list.append(price2)
        elif i > 10:
            price_list.append(price3)
    return price_list
get_price(10)

[15.63, 9.15, 5.56, 15.86, 4.3, 16.1, 13.87, 14.46, 14.84, 12.64]

[187.47, 92.34, 60.43, 101.56, 13.52, 192.34, 125.93, 179.02, 190.66, 148.68]

In [4]:
## combine the two functions and retunr DataFrame.
def get_attributes(num_of_titles):
    '''
    This is getting attributes of books, thickness and prices. The price will caculate randomly depedning on its thickness.
    :param num_of_titles: Integer. a number of titles a librarian would like to purchase.
    :return: DataFrame, columns are thickness and price.
    '''
    thickness_list = []
    for i in range(num_of_titles):
        thickness = round(random.uniform(0.1, 20), 2)
        thickness_list.append(thickness)
    # print("This is the random thickness:", thickness_list)
    price_list = []
    for i in thickness_list:
        price1 = round(random.uniform(1, 50), 2)
        price2 = round(random.uniform(50, 100), 2)
        price3 = round(random.uniform(100, 200), 2)
        if i <= 5:
            price_list.append(price1)
        elif 5 < i <= 10:
            price_list.append(price2)
        elif i > 10:
            price_list.append(price3)
    # print("This is the random price", price_list)
    df = pd.DataFrame(data={'Thickness': thickness_list,
                            'Price': price_list})
#     print("This is the random book\n", df)
    return df
get_attributes(10)

   Thickness   Price
0      10.00   52.53
1      17.98  166.26
2      14.59  164.30
3      12.20  172.56
4      11.48  125.56
5      19.43  169.26
6       9.17   94.13
7       6.24   86.12
8      19.66  191.45
9      13.74  117.73

In [5]:
# vendor discount. We created discount percentage depending on a number of books that a library would like to purchase.
def vendor_discount(num_of_titles):
    '''
    Discount percentage vendor will offer.
    :param num_of_titles: Integer. A number of titles a librarian would like to purchase from a vendor
    :return: float.
    >>> vendor_discount(50)
    0.01
    >>> vendor_discount(280)
    0.02
    '''
    if num_of_titles < 100:
        return 0.01
    elif 100 <= num_of_titles < 500:
        return 0.02
    elif num_of_titles >= 500:
        return 0.05

In [6]:
# drop books when price is excceed budget.
def price_solution(plan):
    '''
    A function for drop books from a list because of limited budget.
    :param plan: Data Frame. A book list with thickness and price
    :return: Data Frame excluding the book whose cost is the highest from the plan.
    '''
    drop = plan['Price'].max()
    print(drop)
    new_plan = plan.loc[plan['Price'] != drop]
    print('This is the new book plan:\n', new_plan)
    return new_plan
plan = get_attributes(10)
price_solution(plan)

194.44
This is the new book plan:
    Thickness   Price
1       0.97    4.83
2      14.74  146.08
3      17.89  173.61
4      14.85  132.84
5       1.43   33.81
6      10.13  155.21
7       8.39   55.57
8       0.39   38.17
9      18.28  161.85

   Thickness   Price
1       0.97    4.83
2      14.74  146.08
3      17.89  173.61
4      14.85  132.84
5       1.43   33.81
6      10.13  155.21
7       8.39   55.57
8       0.39   38.17
9      18.28  161.85

In [7]:
# drop books when space is not enough for new books.
def space_solution(plan):
    '''
    A function for dropping books from a list because of limited space
    :param plan: Data Frame. A book list with thickness and price
    :return: Data Frame, excluding the book whose space is the largest from the plan.
    '''
    drop = plan['Thickness'].max()
    # print(drop)
    new_plan = plan.loc[plan['Thickness'] != drop]
    print('This is the new book plan:\n', new_plan)
    return new_plan

In [8]:
# Monte Carlo Simulation for Acquisitions.